<div iscroll class="page-content not-header not-footer">
    <div>
        <div class="text-center register-hd">
            <img style="width:266px;" src="../../resources/images/img04.jpg" alt="">
        </div>
        <div class="container-fluid">
            <form novalidate form-validated="submit()" name="registerForm" class="form-horizontal register-form">
                <div class="form-group clearfix" ng-class="{'has-error':registerForm.name.$invalid && !registerForm.name.$pristine}">
                    <label class="control-label col-xs-2">
                        <img src="../../resources/images/ioc04.png" alt="">
                    </label>
                    <div class="col-xs-10">
                        <div class="row">
                            <input required ng-model="params.name" name="name" type="text" placeholder="借款人真实姓名" class="form-control">
                            <div ng-messages="registerForm.name.$error" ng-show="!registerForm.name.$pristine">
                                <div ng-message="required" class="help-block">必填项不能为空</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix" ng-class="{'has-error':registerForm.idCard.$invalid && !registerForm.idCard.$pristine}">
                    <label class="control-label col-xs-2">
                        <img src="../../resources/images/ioc05.png" alt="">
                    </label>
                    <div class="col-xs-10">
                        <div class="row">
                            <input required name="idCard" ng-model="params.idCard" type="text" placeholder="借款人身份证号码" class="form-control">
                            <div ng-messages="registerForm.idCard.$error" ng-show="!registerForm.idCard.$pristine">
                                <div ng-message="required" class="help-block">必填项不能为空</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix" ng-class="{'has-error':registerForm.email.$invalid && !registerForm.email.$pristine}">
                    <label class="control-label col-xs-2">
                        <img src="../../resources/images/ioc07.png" alt="">
                    </label>
                    <div class="col-xs-10">
                        <div class="row">
                            <input required ng-model="params.email" name="email" type="text" placeholder="借款人常用邮箱" class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.\S+$/">
                            <div ng-messages="registerForm.email.$error" ng-show="!registerForm.email.$pristine">
                                <div ng-message="required" class="help-block">必填项不能为空</div>
                                <div ng-message="pattern" class="help-block">请输入正确的邮箱</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix" ng-class="{'has-error':registerForm.qq.$invalid && !registerForm.qq.$pristine}">
                    <label class="control-label col-xs-2">
                        <img src="../../resources/images/ioc06.png" alt="">
                    </label>
                    <div class="col-xs-10">
                        <div class="row">
                            <input ng-model="params.qq" name="qq" ng-pattern="/^[1-9]\d{4,11}$/" type="number" placeholder="借款人QQ(选填)" class="form-control">
                            <div ng-messages="registerForm.qq.$error" ng-show="!registerForm.qq.$pristine">
                                <div ng-message="pattern" class="help-block">请填写正确的QQ号码</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="submit" class="btn-block">下一步</button>
                </div>
            </form>
        </div>
        <div class="text-center text-muted">
            <p><img style="width:10px;" src="../../resources/images/ioc03.png" alt=""> 全程银行级加密，全面保障您的信息安全</p>
        </div>
    </div>
</div>