<div iscroll class="page-content not-header not-footer">
    <div>
        <div class="text-center register-hd">
            <img style="width:266px;" src="../../resources/images/img05.jpg" alt="">
        </div>
        <div class="container-fluid">
            <form novalidate form-validated="submit()" name="registerForm" class="form-horizontal register-form">
                <div class="form-group" ng-class="{'has-error':registerForm.teacher.$invalid && !registerForm.teacher.$pristine}">
                    <label class="control-label col-xs-2">
                        <img src="../../resources/images/ioc08.png" alt="">
                    </label>
                    <div class="col-xs-10">
                        <div class="row">
                            <input type="text" ng-model="params.teacher" name="teacher" class="form-control" required placeholder="请输入老师的姓名">
                            <div ng-messages="registerForm.teacher.$error" ng-show="!registerForm.teacher.$pristine">
                                <div ng-message="required" class="help-block">必填项不能为空</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':registerForm.highestdegree.$invalid && !registerForm.highestdegree.$pristine}">
                    <label class="control-label col-xs-2">
                        <img src="../../resources/images/ioc09.png">
                    </label>
                    <div class="col-xs-10">
                        <div class="row">
                            <select ng-model="params.highestdegree" name="highestdegree" class="form-control" required>
                                <option value="">请选择最高学历</option>
                                <option value="高中">高中</option>
                                <option value="大专">大专</option>
                                <option value="本科">本科</option>
                                <option value="硕士">硕士</option>
                                <option value="博士">博士</option>
                            </select>
                            <div ng-messages="registerForm.highestdegree.$error" ng-show="!registerForm.highestdegree.$pristine">
                                <div ng-message="required" class="help-block">请选择学历</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':registerForm.workinglife.$invalid && !registerForm.workinglife.$pristine}">
                    <label class="control-label col-xs-2">
                        <img src="../../resources/images/ioc10.png" alt="">
                    </label>
                    <div class="col-xs-10">
                        <div class="row">
                            <select ng-model="params.workinglife" class="form-control" name="workinglife" required>
                                <option value="">请选择工作年限</option>
                                <option value="0">0年</option>
                                <option value="3">3年</option>
                            </select>
                            <div ng-messages="registerForm.workinglife.$error" ng-show="!registerForm.workinglife.$pristine">
                                <div ng-message="required" class="help-block">请选择学历</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error':registerForm.marriagetype.$invalid && !registerForm.marriagetype.$pristine}">
                    <label class="control-label col-xs-2">
                        <img src="../../resources/images/ioc11.png" alt="">
                    </label>
                    <div class="col-xs-10">
                        <div class="row">
                            <select ng-model="params.marriagetype" class="form-control" name="marriagetype" required>
                                <option value="">请选择婚姻情况</option>
                                <option value="0">已婚</option>
                                <option value="1">未婚</option>
                            </select>
                            <div ng-messages="registerForm.marriagetype.$error" ng-show="!registerForm.marriagetype.$pristine">
                                <div ng-message="required" class="help-block">请选择学历</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">下一步</button>
                </div>
            </form>
        </div>
        <div class="text-center text-muted">
            <p><img style="width:10px;" src="../../resources/images/ioc03.png" alt=""> 全程银行级加密，全面保障您的信息安全</p>
        </div>
    </div>
</div>