@charset "UTF-8";


@font-face{
	font-family: 'iconfont';
	src: url(../../../../fonts/icomoon.woff) format("woff"),
		url(../../../../fonts/icomoon.eot) format("eot"),
		url(../../../../fonts/icomoon.ttf) format("ttf"),
		url(../../../../fonts/icomoon.svg) format("svg");
};

.icon{
	position: relative;
    top: 1px;
    display: inline-block;
	&:before{
		font-family: "iconfont";
		font-style: normal;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
	}
	&.icon-search:before		{content: "\31";}
	&.icon-list:before			{content: "\32";}
	&.icon-mark:before			{content: "\33";}
	&.icon-star:before			{content: "\34";}
	&.icon-star2:before			{content: "\35";}
	&.icon-head:before			{content: "\36";}
	&.icon-head2:before			{content: "\37";}
	&.icon-head3:before			{content: "\38";}
	&.icon-tieLian:before		{content: "\39";}
	&.icon-lock:before			{content: "\41";}
	&.icon-resume:before		{content: "\42";}
	&.icon-lawsuit:before		{content: "\43";}
	&.icon-branch:before		{content: "\44";}
	&.icon-clock:before			{content: "\45";}
	&.icon-target:before		{content: "\46";}
	&.icon-warning:before		{content: "\47";}
	&.icon-arrow-up:before		{content: "\48";}
	&.icon-arrow-right:before	{content: "\49";}
	&.icon-arrow-down:before	{content: "\4A";}
	&.icon-arrow-left:before	{content: "\4B";}
	&.icon-clock2:before		{content: "\4C";}
	&.icon-android:before		{content: "\4D";}
	&.icon-apple:before			{content: "\4E";}
	&.icon-search2:before		{content: "\4F";}
	&.icon-close:before 		{content: "\50";}
	&.icon-liaoJie-logo:before 	{content: "\51";}
	&.icon-badge:before 		{content: "\52";}
	&.icon-hammer:before 		{content: "\53";}
	&.icon-article:before 		{content: "\54";}
	&.icon-blackList:before 	{content: "\55";}
	&.icon-home:before 			{content: "\56";}
	&.icon-share:before 		{content: "\57";}
	&.icon-message:before 		{content: "\58";}
	&.icon-ding:before 			{content: "\59";}
	&.icon-cai:before 			{content: "\5A";}
	&.icon-smile:before 		{content: "\61";}
	&.icon-car:before 			{content: "\62";}
	&.icon-position:before 		{content: "\63";}
	&.icon-money:before 		{content: "\64";}
	&.icon-tree:before 			{content: "\65";}
	&.icon-earth:before 		{content: "\66";}
	&.icon-photo:before 		{content: "\67";}
	&.icon-head4:before 		{content: "\68";}
	&.icon-calendar:before 		{content: "\69";}
	&.icon-pen:before 			{content: "\6A";}
	&.icon-new:before 			{content: "\6B";}
	&.icon-label:before 		{content: "\6C";}
	&.icon-warning2:before 		{content: "\6D";}
	&.icon-yingBi:before 		{content: "\6E";}
	&.icon-head5:before 		{content: "\6F";}
	&.icon-flower:before 		{content: "\70";}
	&.icon-update:before 		{content: "\71";}
	&.icon-warning2:before 		{content: "\72";}
	&.icon-add:before 			{content: "\73";}
	&.icon-house:before 		{content: "\74";}
	&.icon-love:before 			{content: "\75";}
	&.icon-love1:before 		{content: "\76";}
	&.icon-nav:before	 		{content: "\77";}
	&.icon-rent:before	 		{content: "\78";}
	&.icon-send:before	 		{content: "\79";}
	&.icon-brand:before	 		{content: "\7a";}
	&.icon-change-set:before	{content: "\7b";}
	&.icon-company:before	 	{content: "\7c";}
	&.icon-phonebook:before	 	{content: "\7d";}
	&.icon-copy-right:before	{content: "\7e";}
	&.icon-copy-right2:before	{content: "\a1";}
	&.icon-hot-search:before	{content: "\a2";}
	&.icon-leader:before	 	{content: "\a3";}
	&.icon-legal:before	 		{content: "\a4";}
	&.icon-patent:before	 	{content: "\a5";}
	&.icon-patent2:before	 	{content: "\a6";}
	&.icon-product:before	 	{content: "\a7";}
	&.icon-report:before	 	{content: "\a8";}
	&.icon-tieLian2:before	 	{content: "\a9";}
	&.icon-update2:before	 	{content: "\aa";}
	&.icon-warning3:before	 	{content: "\ab";}
	&.icon-hot-new:before	 	{content: "\ac";}
	&.icon-arrow-down2:before	{content: "\ae";}
	&.icon-arrow-left2:before	{content: "\af";}
	&.icon-arrow-right2:before	{content: "\b0";}
	&.icon-arrow-up2:before	 	{content: "\b1";}
}
