@charset "utf-8";
//主要颜色
$body-bg:#f9f9f9;
$container-bg:#fff;
//$font-color: #333; 采用bootstrap
$font-color-gray: #999;
//主要彩色
$green:#51da70;
$red:#fc563e;
$blue:#4385f5;
$orange:#fea429;
$dot-gray:#d5d5d5;
//边框颜色
$border-color:#eee;
//交互颜色
$touch-active: #f9f9f9;
$badge-bg:#ddd;

//主要尺寸(包含边框)
$header-bar-height: 47px;
$footer-bar-height:51px;
